@model BibliotekaMvc.Models.UserAddress

@{
    ViewData["Title"] = "Adres";
}

<h1>Adres</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.FullUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miasto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miasto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ulica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ulica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrDomu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrDomu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrTelefonu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrTelefonu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
